.post1{
  height: 700px;
  box-shadow: 5px 5px 10px rgb(186, 186, 186);
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
  background-color: rgb(136, 136, 136);
}
body{
  margin: 0;
  padding: 0%;
}
.container{
  margin-top: 20px;
}