.post1{
  height: 800px;
  box-shadow: 5px 5px 15px rgb(164, 164, 164);
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
}
body{
  margin: 10px;
  padding: 0%;
}
.container{
  margin-top: 20px;
}
.resize{
  height: 695px;
  margin: 1px;
}
.resize img{
  max-width: 98%;
  max-height: 100%;
  margin: auto;
  display: block;
  border-radius: 10px;
}

.post1 h3{
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  text-align: center;
  text-shadow: 1px 1px #000000;
  color:rgb(14, 14, 14);
  font-weight: 500;
}
.date{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 12px;
  display: block;
  line-height: 15px;
  margin-bottom: 5px;
  color: rgb(137, 137, 137);
}
.amount{
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: green;
  margin-bottom: 5px;
}